@page "/books"
@using LibraryManager.Services;
@inject IBookService BookService
@inject NavigationManager NavigationManager

@if(BookService.Books == null)
{
	<div>Loading</div>
}
<table class="table">
	<thead>
		<tr>
			<th>Mã sách</th>
			<th>Tiêu đề</th>
			<th>Tác giả</th>
			<th>Nhà xuất bản</th>
			<th>Thể loại</th>
			<th>Tổng số bản in</th>
			<th>Số bản có sẵn</th>
			<th>Số lượt đặt mượn</th>
			<th>Mô tả</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var book in BookService.Books)
		{
			<tr>
				<td>@book.BookId</td>
				<td>@book.Title</td>
				<td>@book.Author</td>
				<td>@book.Publisher</td>
				<td>@book.Genre</td>
				<td>@book.TotalCopies</td>
				<td>@book.AvailableCopies</td>
				<td>@book.OrderCount</td>
				<td>@book.Description</td>
				<td>
					<button class="btn btn-primary" @onclick="(()=>EditHandle(book.BookId))">
						<i class="oi oi-pencil"></i>
				</button>
				</td>
			</tr>
		}

		<button class="btn btn-success" @onclick="CreateBook" >Thêm sách</button>
		
	</tbody>
</table>

@code {
	protected override async Task OnInitializedAsync()
	{
		await BookService.GetBooks();
	}
	void EditHandle(int id)
	{
		NavigationManager.NavigateTo($"/book/{id}");
	}
	void CreateBook()
	{
		NavigationManager.NavigateTo("/book");
	}
}
