@page "/orderList"
@using LibraryManager.Components
@inject IOrderService OrderService

<h3>Orders</h3>
<table class="table">
	<thead>
		<tr>
			<th>Mã đơn</th>
			<th>Tên khách hàng</th>
			<th>Tiêu đề sách</th>
			<th>Trạng thái</th>
			<th>Thời điểm mượn</th>
			<th>Thời điểm trả</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var order in OrderService.OrderDtos)
		{
			<tr>
				<td>@order.Id</td>
				<td>@order.CustomerName</td>
				<td>@order.BookTitle</td>
				<td><StatusLabel Status="@order.Status"></StatusLabel></td>
				<td>@order.CheckedOut.ToString("dd/MM/yyyy hh:mm")</td>
				<td>@order.Returned</td>
			</tr>
		}
	</tbody>
</table>
@code {

	protected override async Task OnInitializedAsync()
	{
		await OrderService.GetOrders();
	}
}
