@page "/bookEdit/{id:int}"


@using ManageBooks.Dtos;
@inject IBookService BookService
@inject IToastService ToastService
@inject NavigationManager NavigationManager
<h3>BookEdit</h3>
<EditForm Model="request" OnValidSubmit="Submit">
	<DataAnnotationsValidator />
	<div>
		<span>Tiêu đề</span>
		<InputText id="title" class="form-control" @bind-Value="@request.Title"></InputText>
		<ValidationMessage For="()=>request.Title"></ValidationMessage>
	</div>
	<div>
		<span>Tác giả</span>
		<InputText id="author" class="form-control" @bind-Value="@request.Author"></InputText>
		<ValidationMessage For="()=>request.Author"></ValidationMessage>

	</div>
	<div>
		<span>Nhà xuất bản</span>
		<InputText id="publisher" class="form-control" @bind-Value="@request.Publisher"></InputText>
	</div>
	<div>
		<span>Thể loại</span>
		<InputText id="genre" class="form-control" @bind-Value="@request.Genre"></InputText>
		<ValidationMessage For="()=>request.Genre"></ValidationMessage>

	</div>
	<div>
		<span>Tổng số bản in</span>
		<InputNumber id="totalCopies" class="form-control" @bind-Value="@request.TotalCopies"></InputNumber>
	</div>
	<div>
		<span>Số bản in có sẵn</span>
		<InputNumber id="availableCopies" class="form-control" @bind-Value="@request.AvailableCopies"></InputNumber>
	</div>
	<div>
		<span>Số lượt đặt mượn</span>
		<InputNumber id="orderCount" class="form-control" @bind-Value="@request.OrderCount"></InputNumber>
	</div>
	<div>
		<span>Mô tả</span>
		<InputText id="description" class="form-control" @bind-Value="@request.Description"></InputText>
	</div>
	<button class="btn btn-primary mt-4">Submit</button>

</EditForm>
@code {
	[Parameter]
	public int Id { get; set; }
	private ManageBooks.Models.Book request = new ManageBooks.Models.Book();
	protected override async Task OnInitializedAsync()
	{
		await BookService.GetBookById(Id);
	}

	protected override async Task OnParametersSetAsync()
	{
		var result = await BookService.GetBookById(Id);
		if (result != null)
		{
			request = result;
		}
		else NavigationManager.NavigateTo("/bookList");
	}

	private async Task Submit(EditContext context)
	{
		var result = await BookService.UpdateBook(Id,request);
		if (result)
		{
			ToastService.ShowSuccess($"{request.Title} has been updated successfully.");
			NavigationManager.NavigateTo("/bookList");
		}
		else
		{
			ToastService.ShowError($"An error occurred in progress. Please contact to administrator.");

		}
	}

}
