@page "/orderList"
@using LibraryManager.Components

@inject IOrderService OrderService
@inject NavigationManager NavigationManager

<h3>Orders</h3>
<button class="btn btn-primary" @onclick=CreateHandle>Tạo đơn mượn</button>
<table class="table">
	<thead>
		<tr>
			<th>Mã đơn</th>
			<th>Tên khách hàng</th>
			<th>Tiêu đề sách</th>
			<th>Trạng thái</th>
			
		</tr>
	</thead>
	<tbody>
		@foreach(var order in OrderService.OrderDtos)
		{
			<tr>
				<td>@order.OrderId</td>
				<td>@order.CustomerName</td>
				<td>@order.BookTitle</td>
				<td>@order.Status</td>
				@*<td>@order.CheckedOut.ToString()</td>
				<td>@order.Returned</td>*@
				<td>
					<a class="btn btn-primary" href="/orderDetail/@order.OrderId">
						<i class="oi oi-pencil"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
@code {

	protected override async Task OnInitializedAsync()
	{
		await OrderService.GetOrders();
	}
	void CreateHandle()
	{
		NavigationManager.NavigateTo("/orderCreate");
	}
	//void ShowDetail(int id)
	//{
	//	NavigationManager.NavigateTo($"/orderDetail/{id}");
	//}
}
